<section class="layout-page" (window:resize)="onResize($event)">
  <mat-drawer-container class="example-container" [hasBackdrop]="true">
    <mat-drawer #drawer class="example-sidenav" mode="side" opened="false">
      <section class="menu">
        <img src="assets/imgs/logo.png" alt="" />
      </section>

      <section class="menus">
        <div *ngFor="let m of menu" (click)="open(m)" class="menu-interno">
          <span class="material-icons-outlined">
            {{ menu.icon }}
          </span>
          {{ menu.title }}
        </div>
      </section>
    </mat-drawer>

    <mat-drawer-content>
      <cmpt-header-ux>
        <button
          type="button"
          mat-button
          (click)="drawer.toggle()"
          class="visual-menu"
        >
          <span class="material-icons"> list </span>
        </button>
      </cmpt-header-ux>
      <section class="sidenav-content">
        <router-outlet></router-outlet>
      </section>
    </mat-drawer-content>
  </mat-drawer-container>
</section>
